.vs/
*/bin/
*/obj/

*.pdb
*.exe
*.dll
*.cache
*.txt

*.AssemblyInfo.cs
*.AssemblyAttributes.cs

*.nuget.dgspec.json
*.nuget.g.props
*.nuget.g.targets

*.deps.json
*.runtimeconfig.dev.json
*.runtimeconfig.json